@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, Arial, Helvetica;
  overflow: hidden;
}

.body-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
.card-col {
  margin-top: 40px;
}
.card-title {
  margin-bottom: 0px;
}

.contact-icon {
  color: #000000;
  font-size: 20px;
}
#contact {
  line-height: 3rem;
  font-size: 20px;
}

#contact h1,
#projects h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  font-size: 45px;
}

.contact-block {
  margin-top: 60px;
}

.contact-icon {
  margin: 0 15px 0 0;
}

.contact-link-block {
  text-align: end;
}
.contact-row {
  margin-bottom: 60px;
}
.disable {
  opacity: 0.5;
}
.email-link {
  color: #000000;
  font-size: 16px;
}
.email-link:hover {
  color: grey;
}

#home {
  color: #f4f4f4;
  background-image: url(./images/cover-img.jpeg);
  background-position: center;
  background-size: cover;
  box-shadow: inset -200px 60px 300px black;
}
.home-btn {
  width: 140px;
  padding: 10px;
  margin: 30px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.home-btn:hover {
  color: #5a5a5a;
}

#homepage-text {
  padding-top: 30vh;
  margin-left: 20vw;
}

#homepage-text p {
  font-size: 30px;
}

.icon-lg {
  font-size: 30px;
}
.lg-icon {
  font-size: 35px;
}

.linkedIn-icon {
  color: #4875b4;
}
.main-header-text {
  font-size: 70px;
  font-weight: 1000px;
  display: inline-block;
  padding-right: 0px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.98);
}
.nav-item {
  color: #f4f4f4;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

.nav-item:hover {
  color: #5a5a5a;
}
.project-icon {
  margin-top: 0 !important;
  margin-right: 4%;
  font-size: 1.7em;
  color: inherit;
  text-decoration: none;
}

section {
  scroll-snap-align: start;
  padding-top: 120px;
}

section#home {
  min-height: 100vh;
}
section#contact {
  min-height: 70vh;
}

.subtext {
  font-size: 20px;
}

.tech-text {
  margin-bottom: 8px;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid black;
}

.typewriter {
  overflow: hidden;
  border-right: 0.1em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  #homepage-text {
    text-align: center;
    margin-left: 0;
    box-shadow: none;
  }
  .contact-row {
    margin-bottom: 30px;
  }
  #contact {
    line-height: 2rem;
    font-size: 18px;
  }
  #homepage-text {
    padding-top: 25vh;
    /* margin-left: 20vw; */
  }
  #homepage-text p {
    font-size: 15px;
  }

  .main-header-text {
    font-size: 35px;
    font-weight: bold;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 760px) {
  #homepage-text {
    text-align: center;
    margin-left: 0;
    box-shadow: none;
  }

  #homepage-text p {
    font-size: 20px;
  }

  .main-header-text {
    font-size: 40px;
    font-weight: bold;
  }

  section#contact {
    padding-bottom: 60px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 350px;
    }
  }
}
/* 
@media only screen and (max-width: 1100px) {
  .email-link {
    font-size: 15px;
    color: aqua;
  }
  .fa-envelope {
    display: none;
  }
} */
